.mycss {
  /*--slds-c-button-brand-color-background: var(--lwc-palettePurple50); // internal only token
  --slds-c-button-brand-color-background-hover: var(--lwc-palettePurple30);// internal only token
  --slds-c-button-brand-color-border: var(--lwc-palettePurple50); // internal only token
  --slds-c-button-brand-color-border-hover: var(--lwc-palettePurple30); // internal only token
  --slds-c-button-brand-text-color: var(--lwc-paletteNeutral100); // internal only token*/
  --slds-c-card-color-background: rgba(196, 196, 196, 0.329);
  /*--slds-c-card-color-background: #B4B1B1;*/
  }